body {
    background-color: purple;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #timer-text {
  }
  
  .timer-active {
    color: yellow;
  }
  
  .timer-inactive {
    color: green;
  }
  #button {
      color: yellow;
  }